<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet" type="text/css">
    <title>A bit about Bayesian</title>
    <!-- Below is for Bokeh -->
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    {% autoescape off %}
    {{ script }}
    {% endautoescape %}
</head>

<body>
  <div class=container>
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="{% url 'index' %}">A bit about Bayesian</a></li>
      <li role="presentation"><a href="{% url 'probit' %}">Gibbs data augmentation</a></li>
      <li class="dropdown navbar-right">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Old projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="presentation"><a href="{% url 'edit_code' %}">Prior sensitivity analysis</a></li>
            <li role="presentation"><a href="{% url 'edit_gibbs' %}">A simple Gibbs sampler</a></li>
          </ul>
        </li>
    </ul>

    <div class=container>
    {% block content %}

    {% autoescape off %}
    {{ div }}
    {% endautoescape %}


    {% endblock %}
    </div>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/drop_down.js"></script>
<script src="/static/js/slide.js"></script>


</body>
</html>
