.paper-text {
  position: relative;
  left: 5%;
  width: 80%;
}

.equation {
  position: relative;
  left: 30%;
  width: 30%;
  display: inline-block;
  text-align: center;
}

.equation-number {
  position: relative;
  left: 50%;
  width: 20%;
  display: inline-block;
}

#generated {
  width: 100%;
  height: auto;
}

#fixed {
  position: fixed;
  right: 15%;
  top: 20%;
}
